<%- partial('./header.ejs') %>


<form name="filter_form" id="filter_form" method="get" action="/expenses/chart">
    <div class="d-flex mt-3 flex-row justify-content-around align-self-stretch  mr-auto">
        <div class="p1">

            <div class="form-group row">
                <label for="from_date" class="col-sm-12 col-form-label  text-center">From Date</label>
                <div class="col-sm-12">
                    <input type="text" readonly class="form-control datepicker" id="exp_from_date" name="exp_from_date"
                           value="<%= fromDate %>">
                </div>
            </div>

        </div>
        <div class="p1">
            <div class="form-group row">
                <label for="to_date" class="col-sm-12 col-form-label  text-center">To Date</label>
                <div class="col-sm-12">
                    <input type="text" readonly class="form-control datepicker" id="exp_to_date" name="exp_to_date"
                           value="<%= toDate %>">
                </div>
            </div>
        </div>


    </div>

    <div class="d-flex mt-2 flex-row justify-content-around align-self-stretch  mr-auto">
        <div class="p1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>


</form>

<div class="d-flex mt-2 mb-5 flex-row justify-content-around align-self-stretch  mr-auto">
    <div class="col-md-12">
        <div class="d-flex">
            <div id="canvas-holder" style="width:100%">
                <canvas id="exp-chart-area"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="d-flex mt-2 mb-5 flex-row justify-content-around align-self-stretch  mr-auto">
    <div class="col-md-12">
        <div class="d-flex">
            <div id="canvas-holder" style="width:100%">
                <canvas id="exp-chart-area-subcat"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="d-flex mt-2 mb-5 flex-row justify-content-around align-self-stretch  mr-auto">
    <div class="col-md-12">
        <div class="d-flex">
            <div id="canvas-holder" style="width:100%">
                <canvas id="exp-chart-area-title"></canvas>
            </div>
        </div>
    </div>
</div>
