<%- partial('./header.ejs') %>

<div class="row mb-3 mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-3 text-left">

    </div>

    <div class="col-md-2 text-left">
        <span class="badge badge-warning"> <h4><%= fromDate %> </h4></span>
    </div>
    <div class="col-md-2 text-left">
        <span class="badge badge-warning"> <h4><%= toDate %></h4></span>
    </div>

    <div class="col-md-1"></div>
</div>
<div class="clear-fix"></div>

<%- partial('./bankListing.ejs') %>


